.wine-image {
  max-height: 100%;
  height: 100%;
  object-fit: scale-down;
  padding: 2px 0px;
  transition: transform 0.3s;
  cursor: pointer;
}

.wine-image-col {
  max-height: 250px;
  min-height: 250px;
}

.wine-image:hover {
  transform: scale(1.2);
}

.blog-image {
  max-height: 250px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
  cursor: pointer;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card-wines {
  width: 100%;
  max-width: 500px;
  max-height: 700px;
  justify-content: space-evenly;
  transition: transform 0.3s ease;
}

.card-wines:hover {
  transform: translateY(-5px) scale(1.002);
  box-shadow: 0 4px 6px rgba(143, 16, 16, 0.3);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.card-blog {
  width: 100%;
  max-height: 700px;
  max-width: 550px;
  justify-content: space-evenly;
  transition: transform 0.3s ease;
}

.card-blog:hover {
  transform: translateY(-5px) scale(1.002);
  box-shadow: 0 4px 6px rgba(143, 16, 16, 0.3);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.wine-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 40vh; /* Set a maximum height using viewport units (vh) */
  line-height: 1.4; /* Adjust the line height for better readability */
}

.dropdown-button {
  --bs-btn-color: rgba(255, 255, 255, 0.55) !important;
  --bs-btn-bg: rgb(114, 47, 55) !important;
  --bs-btn-border-color: rgb(114, 47, 55) !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: rgb(114, 47, 55) !important;
  --bs-btn-hover-border-color: rgb(114, 47, 55) !important;
  --bs-btn-active-bg: rgb(114, 47, 55) !important;
  --bs-btn-active-border-color: rgb(114, 47, 55) !important;
}

.button-filter {
  --bs-btn-color: rgba(255, 255, 255, 0.55) !important;
  --bs-btn-bg: rgb(114, 47, 55) !important;
  --bs-btn-border-color: rgb(114, 47, 55) !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: rgb(114, 47, 55) !important;
  --bs-btn-hover-border-color: rgb(114, 47, 55) !important;
  --bs-btn-active-bg: rgb(114, 47, 55) !important;
  --bs-btn-active-border-color: rgb(114, 47, 55) !important;
  flex: 0 auto !important;
}

.button {
  color: white !important;
  background-color: #722f37 !important;
  border-color: #722f37 !important;
}

.blog-header {
  background-color: #722f37 !important;
  color: white !important;
  height: 40px;
}

.blog-title {
  text-transform: uppercase;
  font-weight: 600 !important;
  font-smooth: auto;
  text-align: center;
}

.blog-button {
  background-color: transparent !important;
  border-color: transparent !important;
  color: #722f37 !important;
  text-align: center;
  align-items: center;
  align-content: center;
}

.bg-wine {
  --bs-bg-opacity: 1;
  background-color: rgba(114, 47, 55, var(--bs-bg-opacity)) !important;
}

.bg-footer {
  background-color: #eae0da !important;
}

.footer {
  height: 100px;
  max-height: 100px;
}

.fa-button {
  color: #722f37 !important;
}
